/* This applies to everything. */
body {
   font-family: Arial;
   background-color: rgb(16, 168, 177)
}

/* Element selectors that apply to each element. */
h1 {
  color: white;
  text-align: center;
}

h2 {
  color: black;
}

/* Class selectors start with . and apply to every class="whatever". */
.box {
  width: 50%
  height: 200px;
}

.line {

}

.image {

}

/* ID selectors start with # and apply to every ID="whatever". */
#pink {
  background-color: rgb(230, 55, 240)
  padding: 5px
  color: rgb(68, 31, 218)
}

#purple {
  background-color: rgb(132, 56, 255)
  padding: 5px
  color: rgb(224, 80, 66)
}

#aqua {
  background-color: rgb(0, 255, 201)
  padding: 5px
  color: rgb(255, 245, 10)
}

#left {

}

#right {

}

#center {

}
