/* Page Wide Style */

body {
  font-family: Arial;
  font-size:
  margin: 0;
}

h1 {
  color: rgb(252, 149, 54);
  font-size: 300%;
  text-transform: uppercase;
}

h2 {
  font-family:monospace;
  font-size: 200%;
}

/* Navigation Style */
.navigation {
  background-color: rgb(250, 181, 100);
  width: 200;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.navigation a {
  text-decoration: none;
  color: black
}

.info {
  margin:2em;
  text-align: center;
  font-size: 2em;

}

.links {
  margin: 0 1em;

}

.links a {
  color: white;
  display: block;
  margin: 1em;
  font-family: monospace;
  font-size: 150%;
}

.links a:hover {
  text-decoration: underline;
}

.logo {
  background-color: white;
  width:150px;
  height:150px;
  border: 5px solid white;
  border-radius: 100%;
  margin: 0 auto 1em;
  line-height: 150px;
  color: black;
  text-transform: uppercase;
}

.logo:hover {
  border-color: rgb(252, 149, 54);
}

/* Main Content Style */
.main {
  background-color: white;
  margin-left: 300px;
  padding: 1em;

}

.banner {
  width: 100%;
  height: auto;
}
